#main .faq dd,
article section div {
	h1 {
		text-transform: uppercase;
		line-height: 1em;
		font-weight: bolder;
		margin: 0.5em 0;
	}
	p + p {
		margin-top: 1em;
	}
	strong {
		font-weight: 500;
		color: shade(#35313B, 20%);
	}
	ol li {
		list-style: decimal;
	}
	ul li {
		list-style: disc;
	}
	ol li, ul li {
		margin-left: 1.5em; // is this the perfect indent?
	}
	blockquote {
		position: relative;
		color: #333;

		&:before, &:after {
			position: absolute;
			opacity: 0.5;
			font-size: 1em;
		}
		&:before {
			content: '“';
			top:  0;
			left: 0;
		}
		&:after {
			content: '”';
			bottom: 0;
			right: 0;
		}
	}
	code {
		font-family: monospace;
	}
	pre {
		font-family: courier, monospace;
		border-radius: 4px;
		padding: 1em;
		background: #F4F1E3;
		overflow: auto;
	}
	dl {
		line-height: 1.5em;
		dt {
			font-size: 1em;
			font-weight: 600;
			margin: 0;
		}
		dd {
			border: 0;
			font-weight: 200;
			padding: 0 0 0 0.5em;
		}
	}
}