/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "tscolours";
@import "mixins";

$font-fam: Georgia, Times, "Times New Roman", serif;
$san-serif-fam: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	font-family: $font-fam;
	line-height: 1.65em;
	text-rendering: optimizeLegibility;

	#app-picker {
		top: 8px;
		right: 12px;

        @media only screen and (min-width: 992px) {
            right: 24px;
        }
	}
}

body > header {
	background: #2c2c2c;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	border-color: #252525;
	min-height: 40px;
	color: #999;
	font-family: $san-serif-fam;

	div {
		max-width: 912px;
		margin: 0 auto;
		@media only screen and (min-width: 1064px) {
            max-width: 960px;
        }
	}

	h1 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 200;
		line-height: 40px;
		padding-left: 12px;

        @media only screen and (min-width: 992px) {
            padding-left: 0;
        }
	}

	nav {
		float: right;
		padding-right: 40px;

		@media only screen and (min-width: 992px) {
            padding-right: 0;
        }
	}

	li {
		display: inline-block;
		line-height: 40px;
		margin-left: 1em;
		padding: 0 0.5em;

		&:hover {
			background: tint(#2c2c2c, 5%);

			a {
				color: white;
			}
		}

		a {
			text-decoration: none;
			color: #999;
		}
	}
}

#contentloading {
	text-align: center;
	font-size: 32px;
	line-height: 40px;
	padding: 40px 0;
	letter-spacing: 2px;
	color: #333;
	font-weight: 200;

	i {
		padding: 0 0.5em;
	}

    .fetched & {
        display: none;
    }
}

#main, #faqSearch {
    width: 100%;
    @media only screen and (min-width: 992px) {
        width: 840px;
    }
}

#faqSearch {
    visibility: hidden;
    font-size: 30px;
    line-height: 1em;
    outline: none;
    border: 2px solid #eee;
    padding: 0.5em 1em;
    color: #333;
    @include vendor-prefix("box-sizing", border-box);
    @include vendor-prefix("border-radius", 2px);

    &:focus {
        border-left: 2px solid $deep_blue;
    }

    .fetched & {
        visibility: visible;
    }
}

@include placeholder( shade(#eee, 15%) );

#main {
	margin: 0 auto;
	padding-top: 40px;
	font-family: $san-serif-fam;

	section {
		position: relative;

		header {
			background: none;
			color: #333;
			padding: 0 12px 10px;
			border-bottom: 1px solid #eee;

            @media only screen and (min-width: 992px) {
                padding: 0 0 10px;
            }

			h2 {
				font-size: 30px;
				line-height: 2em;
				padding-right: 2em;
			}
		}
	}

	article {
		width: 90%;
		margin: 20px auto 5%;
		background: #fff;
		color: $textalt;
		font-size: 18px;

		dl {
			padding: 0.5em 20px;
			line-height: 36px;
			position: relative;
			padding-left: 5%;

			& > a {
				text-decoration: none;
				color: #333;
			}

			i {
				position: absolute;
				line-height: 40px;

				&.icon-angle-right {
					left: 0;
				}
				&.icon-edit {
					right: 0;
				}
			}
		}

		.closed {
			dd {
				display: none;
			}
			dt {
				margin-bottom: 0;
			}
		}

		dt {
			color: rgb(51, 51, 51);
			line-height: 36px;
			font-size: 24px;
			margin-bottom: 0.5em;
			
			&:hover {
				cursor: pointer;
			}
		}

		dd {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			color: lighten($textalt, 10%);
			padding: 0.5em 0 0.5em;

            @media only screen and (min-width: 992px) {
                padding-left: 1em;
            }
		}
	}
}

dd {
	a {
		color: $deep_blue;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}

@import "tiddler";
@import "footer";
