/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "tscolours";

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: $argument;
	-ms-#{$name}: $argument;
	-moz-#{$name}: $argument;
	-o-#{$name}: $argument;
	#{$name}: $argument;
}

$font-fam: Georgia, Times, "Times New Roman", serif;
$san-serif-fam: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	font-family: $font-fam;
	line-height: 1.65em;
	text-rendering: optimizeLegibility;
}

body > header {
	background: #2c2c2c;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	border-color: #252525;
	min-height: 40px;
	color: #999;
	font-family: $san-serif-fam;

	div {
		width: 960px;
		margin: 0 auto;
	}

	h1 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 200;
		line-height: 40px;
	}

	nav {
		float: right;
	}

	li {
		display: inline-block;
		line-height: 40px;
		margin-left: 1em;
		padding: 0 0.5em;

		&:hover {
			background: tint(#2c2c2c, 5%);

			a {
				color: white;
			}
		}

		a {
			text-decoration: none;
			color: #999;
		}
	}
}

#main {
	width: 840px;
	margin: 0 auto;
	//box-shadow: 0px 0px 4px rgba(50,50,50,0.2);
	//background: $lightest_blue;
	padding-top: 40px;
	font-family: $san-serif-fam;

	section {
		position: relative;

		header {
			background: none;
			color: #333;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;

			h2 {
				font-size: 30px;
				line-height: 2em;
				padding-right: 2em;
			}
		}
	}

	article {
		width: 760px;
		margin: 20px auto 40px;
		background: #fff;
		color: $textalt;
		font-size: 18px;

		dl {
			padding: 0.5em 20px;
			line-height: 36px;
			position: relative;
			padding-left: 40px;

			i {
				position: absolute;
				left: 0;
			}
		}

		.closed {
			dd {
				display: none;
			}
			dt {
				margin-bottom: 0;
			}
		}

		dt {
			color: rgb(51, 51, 51);
			line-height: 36px;
			font-size: 24px;
			margin-bottom: 0.5em;
			
			&:hover {
				cursor: pointer;
			}
		}

		dd {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			color: lighten($textalt, 10%);
			padding: 0.5em 0 0.5em 1em;
		}
	}
}

dd {
	a {
		color: $deep_blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	pre {
		font-family: courier, monospace;
		border-radius: 4px;
		padding: 1em;
		background: #F4F1E3;
	}
}

.faq div {
	h1 {
		text-transform: uppercase;
		line-height: 1em;
		font-weight: bolder;
		margin: 0.5em 0;
	}
	strong {
		font-weight: 500;
		color: shade(#35313B, 20%);
	}
	ol li {
		list-style: decimal;
	}
	ul li {
		list-style: disc;
	}
	ol li, ul li {
		margin-left: 1.5em; // is this the perfect indent?
	}
}

footer {
	margin: 2em 0;
	text-align: center;
	font-size: 16px;

	a {
		color: $deep_blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

